[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/jangchulwoon/hugo-notepadium.git
[submodule "public"]
	path = public
	url = https://github.com/jangchulwoon/janchulwoon.github.io.git
