# Site Info
title: JCW Dev_Blog 
tagline: 'Github blog'
description: '개발 공부를 하며 글을 정리하고 싶습니다 .'
baseurl: ""
url: http://jangchulwoon.github.io
logo: '/public/logo.png'

# Site configurations
gems:
  - jekyll-paginate
markdown: kramdown
kramdown:
  input: GFM
excerpt_separator: "<!-- more -->"
sass:
  style: compressed
  sass_dir: _scss    
paginate: 5
paginate_path: '/blog/page:num'
permalink: pretty

version: 1.0.0

# About/contact
author:
  name: Jangchulwoon
  description: 대학교에서 컴퓨터를 공부하고 있습니다. 
  gravatar: 
  contact:
    linkedin:  
    github:    https://github.com/jangchulwoon
    # facebook:  <hide>
    twitter:   
    weibo:     
    email:     lusiue@gmail.com

# Navigation (2nd level links supported)
nav:
  Home:           
    - '/'
  Blog:           
    - '/blog/'
    - { Categories: '/blog/categories/' }
    - { Tags: '/blog/tags/' }
  About:          
    - '/about/'
  Github Project: 
    - 'http://codinfox.github.io/'

# Where are tags and categories displayed
tag_page: '/blog/tags/'
category_page: '/blog/categories/'

hero:
  image: /public/img/we_will_be_giants_by_yalestewart.jpg
  caption: Original Artwork &copy; <a href="http://yalestewart.deviantart.com/art/We-Will-Be-Giants-370176475">Yale Stewart</a>

# Puglins
mathjax: true # whether support mathjax
google_analytics_token: 'UA-00000000-1' # leave blank if you don't want google analytics
disqus_short_name: 'JCW' # leave blank if you don't want disqus

