---
layout: default
---
<div id="progress" style="height: 8px;">
    <div id="bar" style="width: 0%;"></div>
</div>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <article>
    {{ content }}
  </article>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


<script>
  var threshold = $('h1').offset().top + $('h1').height() - $('nav').height(),
    $postContent = $('.post'),
    ph = $postContent.height(),       // post height
    wh = $(window).height();          // window height
$(document).scroll(function () {
  if (!$postContent.length) return;
  var offsetTop = $postContent.offset().top,
      y = $(document).scrollTop(),
      base = Math.max(5, offsetTop + ph - wh),
      progress = Math.min(100, y / base * 100);
  $('#bar').css({width: progress + '%'});
  if (y <= threshold) {
    $('#progress').height('8px');
  } else {
    $('#progress').height('16px');
  }
});
</script>

<script src="https://utteranc.es/client.js"
        repo="JangChulwoon/blogComment"
        branch="master"
        issue-term="{{ post.url }}"
        async>
</script>

